.App-header {
    background-color: #e78535;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    text-align: center;
  }
.App-h2 {
    font-family: "Lucida Handwriting", monospace;
}
.App-link {
    padding-left: 50 px;
}

.App-active {
    background-color: #e78535;
  }

 .App-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0cba1;
  }
  
.App-li {
    float: left;
  }
  
.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }